<!DOCTYPE html>
<html>
<head>
    <title>Codeforces Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial;
            background: #f4f6f8;
            padding: 40px;
        }
        .card {
            background: white;
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 20px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

<div class="card">
    <h1>{{ name }} ({{ handle }})</h1>
    <p><b>Current Rating:</b> {{ rating }}</p>
    <p><b>Rank:</b> {{ rank }}</p>
    <p><b>Max Rating:</b> {{ max_rating }}</p>
    <p><b>Best Contest:</b> {{ best_contest }}</p>
</div>

<div class="card">
    <h2>📈 Rating Graph</h2>
    <canvas id="ratingChart"></canvas>
</div>

<script>
    const ratingData = { ratings,safe };

    const labels = ratings.map((_, i) => i + 1);

    new Chart(document.getElementById('ratingChart'), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Rating',
                data: ratings,
                borderWidth: 3
            }]
        }
    });
</script>

</body>
</html>
